# Python
__pycache__/
*.pyc
venv/
.env

# MLflow & models
mlruns/
mlartifacts/
models/
mlflow.db
mlflow-data/


data/processed/

# Editor
.vscode/
.idea/

# Docker
*.log

# Poetry 
# poetry.lock

# Jupyter
.ipynb_checkpoints/
# Notebooks cannot be in the main branch
notebooks/


todo.md 
