# Python
__pycache__/
*.pyc
venv/
.env

# MLflow & modelos
mlruns/
mlartifacts/
models/

# Dados
data/processed/

# Editor
.vscode/
.idea/

# Docker
*.log

# Poetry 
# poetry.lock

# Jupyter
.ipynb_checkpoints/
